.mouse-pointer {
    cursor: pointer;
}

/* Capitalize Only the First Letter */
.capitalized {
    text-transform: lowercase;
}
.capitalized:first-letter {
    text-transform: capitalize;
}

#search-input {
    /* width:430px !important; */
}

.navbar-container {
    min-height: 700px;
}

.details-box {
    top: 1rem;
}